//VARIABLES

$primary: #27415c;
$secondary: #5c9ddc;
$lightBlue: #46d6dd;
$light: #ddffff;
$fonts: #120f18;

//FONTS

@font-face {
  font-family: prox-reg;
  src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: prox-bols;
  src: url(../fonts/ProximaNova-Regular.otf);
}

//BREAKPOINTS

@mixin big-desktop {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin mid-desktop {
  @media screen and (max-width: 1250px) {
    font-weight: 200;
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin small-device {
  @media screen and (max-width: 576px) {
    @content;
  }
}

//GENERAL STYLES

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: prox-reg;
  font-size: 16px;
  color: $fonts;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.bg-gray {
  background-color: #fafafa;
  position: relative;
  @include tablet {
    background: #fff;
  }
}

.d-none {
  display: none !important;
}

.w-50 {
  width: 50%;
  @include tablet {
    width: 100%;
  }
}

.text-light {
  color: $lightBlue;
}

.btn {
  cursor: pointer;
  padding: 16px 32px;
  gap: 16px;
  width: 146px;
  height: 56px;
  background: #46d6dd;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.0035em;
  color: #ffffff;
  border: none;
  margin-top: 80px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
  @include tablet {
    max-width: 750px;
  }
}

// NABAR

.navbar {
  display: flex;
  align-items: center;
  padding: 24px 16px;
  background-color: #fff;
  color: $primary;

  @include tablet {
    padding: 24px 0;
    justify-content: space-between;
  }

  .logo {
    margin-right: 80px;
    img {
      height: 58px;
      @include phone {
        height: 40px;
      }
    }
  }

  .nav-links {
    @include tablet {
      input[type="checkbox"]:checked ~ .menu {
        display: block;
      }
    }

    input[type="checkbox"] {
      display: none;
    }

    .hamburger {
      display: none;
      font-size: 24px;
      user-select: none;

      @include tablet {
        display: block;
      }
    }

    // HAMBURGER ANIMATION

    #hamburger-icon {
      width: 30px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $fonts;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          top: -10px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
        &:nth-child(2) {
          top: 0;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
        &:nth-child(3) {
          top: 10px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
      }
    }
    #hamburger-icon.open {
      span {
        &:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: -11px;
          left: 8px;
        }
        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 10px;
          left: 8px;
        }
      }
    }

    .menu {
      display: flex;
      font-size: 18px;
      position: relative;
      z-index: 50;

      @include tablet {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        padding: 64px 32px;
        margin: 34px 18px 0 18px;
        border: 1px solid #eeeeee;
        background-color: #fff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
      }

      li {
        list-style: none;
        margin-right: 32px;

        @include tablet {
          margin-bottom: 48px;
        }

        &:hover {
          a {
            color: $lightBlue;
          }
        }

        a {
          color: $primary;
          font-size: 18px;
          font-weight: bold;
          transition: 0.3s ease;
          @include tablet {
            font-size: 24px;
          }
        }
      }
    }
  }

  .nav-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 15;
    @include tablet {
      display: none;
    }
  }
}

// HEADER

.header {
  display: flex;
  position: relative;
  z-index: 20;
  height: 768px;
  padding: 22px;
  padding-top: 66px;

  @include tablet {
    flex-direction: column;
    height: auto;
    text-align: center;
    background: #fff;
    padding-top: 72px;
  }

  .label {
    display: inline-block;
    margin-top: 53px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.0035em;
    color: #5c9ddc;
    padding: 8px 16px;
    border: 2px solid #5c9ddc;
    border-radius: 100px;
    @include tablet {
      margin-top: 0;
    }
  }
  h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    margin-top: 40px;
  }
  p {
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.003em;
    margin-top: 32px;
    margin-right: 20px;
  }
  .header-bg {
    height: 496px;
    width: auto;
    margin-left: 124px;
    @include big-desktop {
      height: 450px;
      margin-left: 100px;
    }
    @include mid-desktop {
      height: 400px;
      margin-left: 20px;
    }
    @include tablet {
      margin: 0;
      width: 100%;
      height: auto;
      margin-top: 81px;
    }
  }
}
.points-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  @include tablet {
    display: none;
  }
}

// FIRST SECTION

.first-section {
  position: relative;
  margin-top: -66px;
  display: flex;
  @include tablet {
    margin-top: 150px;
    justify-content: center;
    text-align: center;
  }
  .left-section {
    position: absolute;
    left: 40px;
    @include tablet {
      position: initial;
      left: auto;
    }
  }
  .left {
    width: 790px;
    text-align: center;
    @include big-desktop {
      width: 650px;
    }
    @include mid-desktop {
      width: 500px;
    }
    @include tablet {
      width: 100%;
      margin-top: 16px;
    }

    img {
      width: 100%;
    }
    p {
      margin-top: 32px;
      @include tablet {
        margin-top: 16px;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: auto;
    @include big-desktop {
      margin-left: 60%;
    }
    @include mid-desktop {
      width: 350px;
    }
    @include tablet {
      margin-left: 0;
      width: 400px;
    }

    h2 {
      margin-bottom: 32px;
    }
    .tab {
      font-weight: 700;
      line-height: 32px;
      font-size: 24px;
      display: flex;
      padding: 16px;
      gap: 10px;
      height: 64px;
      border-radius: 6px;
      border: none;
      background: none;
      cursor: pointer;
    }
    .active {
      background-color: $light;
    }
  }
}

//FOOTER

footer {
  margin-top: 120px;
  background-color: $light;
  .footer {
    display: flex;
    padding-top: 84px;
    border-bottom: 1px solid $primary;
    @include tablet{
      flex-direction: column;
      align-items: center;
      padding-top: 64px;
    }
    img {
      height: 58px;
      @include tablet{
        margin-bottom: 64px;
      }
    }

    .footer-links {
      display: flex;
      margin-left: 150px;
      margin-bottom: 32px;
      @include tablet{
        flex-wrap: wrap;
        margin-left: 0;
      }
      .col {
        display: flex;
        flex-direction: column;
        width: 128px;
        @include tablet{
          width: 40%;
          margin-bottom: 48px;
        }
        .mt{
          margin-top: 24px;
        }
        p {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.003em;
        }
        .title {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          text-transform: uppercase;
          letter-spacing: 0.003em;
          color: $secondary;
        }
        a {
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
          letter-spacing: 0.003em;
          color: $fonts;
        }
      }

    }


  }
  .social-media{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-bottom: 48px;
    .media-icons{

      img{
        margin-left: 43px;
      }
    }
  }

}
